name: Deploy Backend

on:
  push:
    branches: [main]
    paths: [backend/**]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1065690740563/locations/global/workloadIdentityPools/github/providers/github
          service_account: github-actions@youwont.iam.gserviceaccount.com

      - uses: google-github-actions/setup-gcloud@v2

      - run: >
          gcloud run deploy youwont-api
          --source=./backend
          --region=us-central1
          --set-env-vars="MONGODB_URI=${{ secrets.MONGODB_URI }}"
          --allow-unauthenticated
          --quiet
